* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    display: block;
    font-family: 'Raleway', sans-serif;
    background-color: #f4f4f4;
    color: #333;
  }
  h2, h3, h4, h5, h6 {
    font-family: 'Raleway', sans-serif;
    font-weight: 700; 
}
  
  
  .sidebar {
    width: 300px;
    background-color: #0d1117;
    min-height: 100vh;
    padding: 20px;
    color: #fff;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  
  .profile {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .profile img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    border: 8px solid #282e35;
  }
  
  .profile h2 {
    margin-top: 10px;
    font-size: 18px;
    font-weight: normal;
  }
  
  /* Icônes réseaux */
  .social-icons {
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-bottom: 20px;
  }
  
  .social-icons a {
    color: #c9d1d9;
    font-size: 17px; /* agrandir les icônes */
    transition: color 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px; 
    height: 40px; 
    border-radius: 50%; 
    background-color: #232326; 
    text-align: center;
    
  }
  
  .social-icons a:hover {
    background-color: #58a6ff;
  }
  
  
  .nav-menu {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .nav-menu a {
    color: #c9d1d9;
    text-decoration: none;
    font-size: 16px;
    padding: 10px 15px;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
    transition: background-color 0.3s, color 0.3s;
    line-height: 2.5;
  }
  
  .nav-menu a:hover {
    background-color: #21262d00;
    color: #ffffff;
  }
  
  .nav-menu i {
    min-width: 20px;
    text-align: center;
    color: #ffffff;
  }
  .nav-menu a i {
    transition: color 0.3s;
  }
  .nav-menu a:hover i {
    color: #58a6ff; 
  }
  
  
  section {
    margin-left: 300px; 
    background-color: #fff;
    padding: 30px;
    margin-bottom: 0px;
    border-radius: 0px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  }
  
  section h1 {
    margin-bottom: 15px;
    color: #0d1117;
  }
  
  section ul {
    list-style: square inside;
    line-height: 1.6;
    color: #333;
  }
  #skills {
    background-color: #aee5f7;
  }
  
  #cv {
    background-color: #ffffff;
  }
  
  #portfolio {
    background-color: #c9ecfb;
  }
  
  #services {
    background-color: #c9fffa;
  }
  
  #timeline {
    background-color: #ffffff;
  }
  
  #contact {
    background-color: #cbfaff;
  }
  .nom-gros {
    font-size: 24px; 
    font-weight: bold; 
  }

  .cv {
    padding: 60px 20px;
    background: #fff;
  }
  
  .cv-container {
    padding: 20px 0;
  }
  
  .cv-heading {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
  }
  
  .left-title,
  .right-title {
    flex: 1;
    min-width: 300px;
  }
  
  .right-title {
    padding-left: 20px;
  }
  .cv-container ul {
    list-style-type: disc;
    padding-left: 20px;
    margin-top: 5px;
  }

  .timeline-column {
    position: relative;
  }
  
  .timeline-block {
    position: relative;
    margin-left: 5px;
    padding-left: 20px;
    border-left: 2px solid #00b4d8;
  }

  .timeline-block h3 {
    margin: 0;
    font-size: 1.2rem;
    line-height: 0.8; 
    position: relative;
  }
  
  .timeline-block::before {
    content: "";
    position: absolute;
    left: -9px;
    top: 0;
    width: 12px;
    height: 12px;
    background: white;
    border: 2px solid #00b4d8;
    border-radius: 50%;
  }
  .cv h3 {
    color: #666;
    font-weight: normal;
  }
  .cv h1 {
    display: inline-block;
    border-bottom: 5px solid #00b4d8;
    padding-bottom: 5px;
    font-size: 2rem;
  }
  .home {
    position: relative;
    background-image: url("images/profi.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    color: white;
    display: flex;
    align-items: center;
    padding-left: 10px;
    z-index: 1; 
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(19, 19, 28, 0.338); 
    z-index: 1; 
  }
  .content {
    position: relative;
    z-index: 2; 
  }
  
  .home-content {
    max-width: 600px; 
  }
  .home h1 {
    font-size: 4rem;
    color: #fff;
  }
  .home h1 {
    margin-bottom: 5px; 
  }
  .home h2 {
    margin-top: -5; 
    font-size: 1.5rem;
    font-weight: normal;
  }
  .about h1 {
    font-size: 2.2rem;
    border-bottom: 3px solid #00b4d8; 
    display: inline-block;
    padding-bottom: 5px;
    margin-bottom: 20px;
  }
  
